<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>Trending News</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">



  <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="css/reset.css"> -->
</head>

<body>



  <br>
  <br>

  <div id="app">



    <nav class="navbar navbar-dark  fixed-top  shadow bg-danger p-2  ">

      <a href="#" class="ml-4 " id="menu-toggle">
        <i class="fas fa-bars"></i>
      </a>
      <a class="navbar-brand d-none d-sm-block " href="#">
        <i class="fas fa-fire"></i> Trending News </a>

      <input class="form-control form-control-dark w-auto  col-md-6" id="searchQuery" v-model="searchQuery" placeholder="Search News"
        aria-label="Search">

      <ul class="navbar-nav px-4">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Refresh</a>
        </li>
      </ul>
    </nav>
    <br>
    <br>


    <section>
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-3 d-none d-sm-block">

            <div class="fixed-sidebar">
              <news-site-list></news-site-list>
            </div>

          </div>
          <div class="col-md-7 ">
            <div class="news-column">
              <main-news-list v-bind:search-query="searchQuery">
              </main-news-list>

            </div>

          </div>
          <div class="col-md-2">Advertisement</div>
        </div>
      </div>
    </section>

  </div>


  <script type="text/x-template" id="main-news-list">
    <div>
    <div v-for="(newsSet,index) in newsSetList" class="mb-4">
     
            <h4 class="news-site-title">{{newsSet.site}}</h4>
            <hr>
  
        <div v-for="(news,newsIndex) in newsSet.news" v-show="newsIndex < 10 && (news.text.toLocaleLowerCase().indexOf(searchQuery.toLocaleLowerCase()) > -1 || searchQuery === '' || searchQuery === null || searchQuery.length === 0)" >
            <div class="media mb-2">
                <img class="" src="images/unnamed.jpg" alt="Generic placeholder">
                <div class="media-body pl-2">
                  <a :href="newsSet.site+news.link" target="_blank">
                  <h5 class="mt-0">{{ news.text }}</h5>
                  <p>
                      {{news.link}}
                    </p>
          
                     <p> <small class="text-black-50">5 minutes ago</small></p>  
                  </a>
                  
              </div>
              
            </div> 

    </div>
  </div>
    </div>
  </script>

  <script type="text/x-template" id="news-site-list">
      <ul class="list-group">
        <li class="list-group-item bg-light ">
          <a  href="">All Sites</a>
        </li>
        <li  v-for="(site,index) in newsSiteList" class="list-group-item">
          <a href="">{{ site }}</a>
        </li>
      </ul>
  </script>


</body>


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/vue.js"></script>
<script src="src/js/site.js"></script>
<script src="src/js/news.js"></script>
<script src="src/js/app.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/events.js"></script>
<!-- <script>
    Holder.addTheme('thumb', {
      bg: '#55595c',
      fg: '#eceeef',
      text: 'Thumbnail'
    });
  </script> -->



</html>