<section id="news">
        <main role="main" class="container-fluid mt-4">
          <div class="row">
            <div class="col-md-3 news-left-col p-1">
              <div class="white-card">
              <h3 class="pb-0 mb-3  border-bottom news-site-heading">
                <a href="#"> <img src="images/cropped-KANTIPUR-NEWS-LOGO-1-e1502289169306.jpg" alt=""> Kantipur News</a>
              </h3>
              <div class="news-box">
                <ul>
                  <li>
                    <a href="">People Facing Dificulties on road
                      <span class="news-date">10 mins ago </span>
                    </a>
                  </li>
                  <li>
                      <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dicta?
                        <span class="news-date">5 mins  ago </span>
                      </a>
                    </li>
                    <li>
                        <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                          <span class="news-date">2 days ago </span>
                        </a>
                      </li>
                      <li>
                          <a href="">Lorem ipsum dolor sit amet consectetur adipisicing.
                            <span class="news-date">2 days ago </span>
                          </a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum dolor sit amet consectetur.
                              <span class="news-date">2 days ago </span>
                            </a>
                        </li>
      
                        <li>
                            <a href=""> More News &raquo; 
                            </a>
                        </li>
                </ul>
              </div>
            </div>
            </div> <!--col-md-3-->
      
            <div class="col-md-3 news-left-col p-1">
                <div class="white-card">
                <h3 class="pb-0 mb-3  border-bottom news-site-heading">
                  <a href="#"> <img src="images/download (1).jpg" alt=""> Setopati</a>
                </h3>
                <div class="news-box">
                  <ul>
                    <li>
                      <a href="">People Facing Dificulties on road
                        <span class="news-date">10 mins ago </span>
                      </a>
                    </li>
                    <li>
                        <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dicta?
                          <span class="news-date">5 mins  ago </span>
                        </a>
                      </li>
                      <li>
                          <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            <span class="news-date">2 days ago </span>
                          </a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum dolor sit amet consectetur adipisicing.
                              <span class="news-date">2 days ago </span>
                            </a>
                          </li>
                          <li>
                              <a href="">Lorem ipsum dolor sit amet consectetur.
                                <span class="news-date">2 days ago </span>
                              </a>
                          </li>
        
                          <li>
                              <a href="">More News &raquo;
                                
                              </a>
                          </li>
                  </ul>
                </div>
                </div>
              </div> <!--col-md-3-->
      
              <div class="col-md-3 news-left-col p-1">
                  <div class="white-card">
                  <h3 class="pb-0 mb-3  border-bottom news-site-heading">
                    <a href="#"> <img src="images/download.jpg" alt=""> Nagarik News</a>
                  </h3>
                  <div class="news-box">
                    <ul>
                      <li>
                        <a href="">People Facing Dificulties on road
                          <span class="news-date">10 mins ago </span>
                        </a>
                      </li>
                      <li>
                          <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dicta?
                            <span class="news-date">5 mins  ago </span>
                          </a>
                        </li>
                        <li>
                            <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                              <span class="news-date">2 days ago </span>
                            </a>
                          </li>
                          <li>
                              <a href="">Lorem ipsum dolor sit amet consectetur adipisicing.
                                <span class="news-date">2 days ago </span>
                              </a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor sit amet consectetur.
                                  <span class="news-date">2 days ago </span>
                                </a>
                            </li>
          
                            <li>
                                <a href="">More News &raquo;
                                  
                                </a>
                            </li>
                    </ul>
                  </div>
                  </div>
                </div> <!--col-md-3-->
      
      
                
              <div class="col-md-3 news-left-col p-1">
                  <div class="white-card">
                  <h3 class="pb-0 mb-3  border-bottom news-site-heading">
                    <a href="#"> <img src="images/trending.png" alt=""> Trending Now</a>
                  </h3>
                  <div class="news-box">
                    <ul>
                      <li>
                        <a href="">World Cup 2018 Final
                          <span class="news-date trending">New York times - 10 mins ago </span>
                        </a>
                      </li>
                      <li>
                          <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dicta?
                              <span class="news-date trending">New York times - 10 mins ago </span>
                            </a>
                        </li>
                        <li>
                            <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="news-date trending">New York times - 10 mins ago </span>
                              </a>
                          </li>
                          <li>
                              <a href="">Lorem ipsum dolor sit amet consectetur adipisicing.
                                  <span class="news-date trending">New York times - 10 mins ago </span>
                                </a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor sit amet consectetur.
                                    <span class="news-date trending">New York times - 10 mins ago </span>
                                  </a>
                            </li>
          
                            <li>
                                <a href="">More Trending News &raquo;
                                  
                                </a>
                            </li>
                    </ul>
                  </div>
                  </div>
                </div> <!--col-md-3-->
      
      
                <div class="col-md-3 news-left-col p-1">
                    <div class="white-card">
                    <h3 class="pb-0 mb-3  border-bottom news-site-heading">
                      <a href="#"> <img src="images/cropped-KANTIPUR-NEWS-LOGO-1-e1502289169306.jpg" alt=""> Kantipur News</a>
                    </h3>
                    <div class="news-box">
                      <ul>
                        <li>
                          <a href="">People Facing Dificulties on road
                            <span class="news-date">10 mins ago </span>
                          </a>
                        </li>
                        <li>
                            <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dicta?
                              <span class="news-date">5 mins  ago </span>
                            </a>
                          </li>
                          <li>
                              <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="news-date">2 days ago </span>
                              </a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor sit amet consectetur adipisicing.
                                  <span class="news-date">2 days ago </span>
                                </a>
                              </li>
                              <li>
                                  <a href="">Lorem ipsum dolor sit amet consectetur.
                                    <span class="news-date">2 days ago </span>
                                  </a>
                              </li>
            
                              <li>
                                  <a href=""> More News &raquo; 
                                  </a>
                              </li>
                      </ul>
                    </div>
                  </div>
                  </div> <!--col-md-3-->
            
                  <div class="col-md-3 news-left-col p-1">
                      <div class="white-card">
                      <h3 class="pb-0 mb-3  border-bottom news-site-heading">
                        <a href="#"> <img src="images/download (1).jpg" alt=""> Setopati</a>
                      </h3>
                      <div class="news-box">
                        <ul>
                          <li>
                            <a href="">People Facing Dificulties on road
                              <span class="news-date">10 mins ago </span>
                            </a>
                          </li>
                          <li>
                              <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dicta?
                                <span class="news-date">5 mins  ago </span>
                              </a>
                            </li>
                            <li>
                                <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                  <span class="news-date">2 days ago </span>
                                </a>
                              </li>
                              <li>
                                  <a href="">Lorem ipsum dolor sit amet consectetur adipisicing.
                                    <span class="news-date">2 days ago </span>
                                  </a>
                                </li>
                                <li>
                                    <a href="">Lorem ipsum dolor sit amet consectetur.
                                      <span class="news-date">2 days ago </span>
                                    </a>
                                </li>
              
                                <li>
                                    <a href="">More News &raquo;
                                      
                                    </a>
                                </li>
                        </ul>
                      </div>
                      </div>
                    </div> <!--col-md-3-->
            
                    <div class="col-md-3 news-left-col p-1">
                        <div class="white-card">
                        <h3 class="pb-0 mb-3  border-bottom news-site-heading">
                          <a href="#"> <img src="images/download.jpg" alt=""> Nagarik News</a>
                        </h3>
                        <div class="news-box">
                          <ul>
                            <li>
                              <a href="">People Facing Dificulties on road
                                <span class="news-date">10 mins ago </span>
                              </a>
                            </li>
                            <li>
                                <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dicta?
                                  <span class="news-date">5 mins  ago </span>
                                </a>
                              </li>
                              <li>
                                  <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    <span class="news-date">2 days ago </span>
                                  </a>
                                </li>
                                <li>
                                    <a href="">Lorem ipsum dolor sit amet consectetur adipisicing.
                                      <span class="news-date">2 days ago </span>
                                    </a>
                                  </li>
                                  <li>
                                      <a href="">Lorem ipsum dolor sit amet consectetur.
                                        <span class="news-date">2 days ago </span>
                                      </a>
                                  </li>
                
                                  <li>
                                      <a href="">More News &raquo;
                                        
                                      </a>
                                  </li>
                          </ul>
                        </div>
                        </div>
                      </div> <!--col-md-3-->
      
      
                      <div class="col-md-3 news-left-col p-1">
                          <div class="white-card">
                          <h3 class="pb-0 mb-3  border-bottom news-site-heading">
                            <a href="#"> <img src="images/cropped-KANTIPUR-NEWS-LOGO-1-e1502289169306.jpg" alt=""> Kantipur News</a>
                          </h3>
                          <div class="news-box">
                            <ul>
                              <li>
                                <a href="">People Facing Dificulties on road
                                  <span class="news-date">10 mins ago </span>
                                </a>
                              </li>
                              <li>
                                  <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dicta?
                                    <span class="news-date">5 mins  ago </span>
                                  </a>
                                </li>
                                <li>
                                    <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                      <span class="news-date">2 days ago </span>
                                    </a>
                                  </li>
                                  <li>
                                      <a href="">Lorem ipsum dolor sit amet consectetur adipisicing.
                                        <span class="news-date">2 days ago </span>
                                      </a>
                                    </li>
                                    <li>
                                        <a href="">Lorem ipsum dolor sit amet consectetur.
                                          <span class="news-date">2 days ago </span>
                                        </a>
                                    </li>
                  
                                    <li>
                                        <a href=""> More News &raquo; 
                                        </a>
                                    </li>
                            </ul>
                          </div>
                        </div>
                        </div> <!--col-md-3-->
                  
                        <div class="col-md-3 news-left-col p-1">
                            <div class="white-card">
                            <h3 class="pb-0 mb-3  border-bottom news-site-heading">
                              <a href="#"> <img src="images/download (1).jpg" alt=""> Setopati</a>
                            </h3>
                            <div class="news-box">
                              <ul>
                                <li>
                                  <a href="">People Facing Dificulties on road
                                    <span class="news-date">10 mins ago </span>
                                  </a>
                                </li>
                                <li>
                                    <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dicta?
                                      <span class="news-date">5 mins  ago </span>
                                    </a>
                                  </li>
                                  <li>
                                      <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        <span class="news-date">2 days ago </span>
                                      </a>
                                    </li>
                                    <li>
                                        <a href="">Lorem ipsum dolor sit amet consectetur adipisicing.
                                          <span class="news-date">2 days ago </span>
                                        </a>
                                      </li>
                                      <li>
                                          <a href="">Lorem ipsum dolor sit amet consectetur.
                                            <span class="news-date">2 days ago </span>
                                          </a>
                                      </li>
                    
                                      <li>
                                          <a href="">More News &raquo;
                                            
                                          </a>
                                      </li>
                              </ul>
                            </div>
                            </div>
                          </div> <!--col-md-3-->
                  
                          <div class="col-md-3 news-left-col p-1">
                              <div class="white-card">
                              <h3 class="pb-0 mb-3  border-bottom news-site-heading">
                                <a href="#"> <img src="images/download.jpg" alt=""> Nagarik News</a>
                              </h3>
                              <div class="news-box">
                                <ul>
                                  <li>
                                    <a href="">People Facing Dificulties on road
                                      <span class="news-date">10 mins ago </span>
                                    </a>
                                  </li>
                                  <li>
                                      <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dicta?
                                        <span class="news-date">5 mins  ago </span>
                                      </a>
                                    </li>
                                    <li>
                                        <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                          <span class="news-date">2 days ago </span>
                                        </a>
                                      </li>
                                      <li>
                                          <a href="">Lorem ipsum dolor sit amet consectetur adipisicing.
                                            <span class="news-date">2 days ago </span>
                                          </a>
                                        </li>
                                        <li>
                                            <a href="">Lorem ipsum dolor sit amet consectetur.
                                              <span class="news-date">2 days ago </span>
                                            </a>
                                        </li>
                      
                                        <li>
                                            <a href="">More News &raquo;
                                              
                                            </a>
                                        </li>
                                </ul>
                              </div>
                              </div>
                            </div> <!--col-md-3-->
                            <div class="col-md-3 news-left-col p-1">
                                <div class="white-card">
                                <h3 class="pb-0 mb-3  border-bottom news-site-heading">
                                  <a href="#"> <img src="images/cropped-KANTIPUR-NEWS-LOGO-1-e1502289169306.jpg" alt=""> Kantipur News</a>
                                </h3>
                                <div class="news-box">
                                  <ul>
                                    <li>
                                      <a href="">People Facing Dificulties on road
                                        <span class="news-date">10 mins ago </span>
                                      </a>
                                    </li>
                                    <li>
                                        <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dicta?
                                          <span class="news-date">5 mins  ago </span>
                                        </a>
                                      </li>
                                      <li>
                                          <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            <span class="news-date">2 days ago </span>
                                          </a>
                                        </li>
                                        <li>
                                            <a href="">Lorem ipsum dolor sit amet consectetur adipisicing.
                                              <span class="news-date">2 days ago </span>
                                            </a>
                                          </li>
                                          <li>
                                              <a href="">Lorem ipsum dolor sit amet consectetur.
                                                <span class="news-date">2 days ago </span>
                                              </a>
                                          </li>
                        
                                          <li>
                                              <a href=""> More News &raquo; 
                                              </a>
                                          </li>
                                  </ul>
                                </div>
                              </div>
                              </div> <!--col-md-3-->
                        
                              <div class="col-md-3 news-left-col p-1">
                                  <div class="white-card">
                                  <h3 class="pb-0 mb-3  border-bottom news-site-heading">
                                    <a href="#"> <img src="images/download (1).jpg" alt=""> Setopati</a>
                                  </h3>
                                  <div class="news-box">
                                    <ul>
                                      <li>
                                        <a href="">People Facing Dificulties on road
                                          <span class="news-date">10 mins ago </span>
                                        </a>
                                      </li>
                                      <li>
                                          <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dicta?
                                            <span class="news-date">5 mins  ago </span>
                                          </a>
                                        </li>
                                        <li>
                                            <a href=""> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                              <span class="news-date">2 days ago </span>
                                            </a>
                                          </li>
                                          <li>
                                              <a href="">Lorem ipsum dolor sit amet consectetur adipisicing.
                                                <span class="news-date">2 days ago </span>
                                              </a>
                                            </li>
                                            <li>
                                                <a href="">Lorem ipsum dolor sit amet consectetur.
                                                  <span class="news-date">2 days ago </span>
                                                </a>
                                            </li>
                          
                                            <li>
                                                <a href="">More News &raquo;
                                                  
                                                </a>
                                            </li>
                                    </ul>
                                  </div>
                                  </div>
                                </div> <!--col-md-3-->
                        
                
            
            
      
      
          </div> <!--.row -->
      
      
          
      
        </main>
        <!-- /.container -->
      
      </section>



      <!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>Blog Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
</head>

<body>

  <div class="container">


    
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-md-4 col-sm-3 pt-1">
          <a class="text-muted" href="#">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="text-muted" href="#">
            <i class="fa fa-twitter"></i>
          </a>



        </div>
        <div class="col-md-4 col-sm-3 text-center">
          <h3>
            <a class="text-uppercase text-dark" href="#">News Portal</a>
          </h3>
        </div>
        <div class="col-md-4 col-sm-6 d-flex justify-content-end">
          <nav class="navbar navbar-light">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search News" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search </button>
            </form>
          </nav>
          <!-- <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a> -->
        </div>
      </div>
    </header>

    <div class="nav-scroller py-1 mb-2 main-nav">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="#">Kantipur</a>
        <a class="p-2 text-muted" href="#">Online Khabar</a>
        <a class="p-2 text-muted" href="#">Setopati</a>
        <a class="p-2 text-muted" href="#">Ratopati</a>
        <a class="p-2 text-muted" href="#">The himalayan times</a>
        <a class="p-2 text-muted" href="#">New york times</a>
        <a class="p-2 text-muted" href="#">Ujyalo</a>
        <a class="p-2 text-muted" href="#">Gorkhapatra</a>
        <a class="p-2 text-muted" href="#">Ujyalo</a>
      </nav>
    </div>
  </div>
  <!--container-->


  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <form action="
          ">

            <div class="row">
              <input type="checkbox">Nagarik News</div>
            <div class="row">
              <input type="checkbox">Nagarik News</div>
            <div class="row">
              <input type="checkbox">Nagarik News</div>
            <div class="row">
              <input type="checkbox">Nagarik News</div>
            <div class="row">
              <input type="checkbox">Nagarik News</div>
            <div class="row">
              <input type="checkbox">Nagarik News</div>
            <div class="row">
              <input type="checkbox">Nagarik News</div>



          </form>


        </div>



        <div class="col-md-8">

          <div class="row">
            <div class="col-md-2">
              <img src="images/unnamed.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-8">

              <div class="row">
                <div class="md-col-12">
                  <a href=""><h5>Computer Science is now evolving market in Nepal.</h5></a>
                    <p>
                      <a href=""><p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Aliquam consequuntur numquam eius nisi aliquid at porro et, 
                        architecto qui atque.
                      </p></a>
                      
                </div>


                <div class="row">
                  <div class="col-md-12">
                   <p>5 mins ago</p> 
                  </div>

                </div>
              </div>
            </div>
            
          </div>
          
        
        </div><!--row-->
        <div class="col-md-2"><h4>Advertsement</h4></div>
      </div>

     
    </div>
  </section>



  
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">

      <div class="col-4">
      </div>
      <div class="col-4 pt-1">
        <!-- <a class="text-muted" href="#">Subscribe</a> -->

      </div>


      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="text-muted" href="#">
          <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg> -->
        </a>
        <!-- <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a> -->
      </div>
    </div>
  </header>


  
  <div class="row">
    <div class="col-md-2">
      <a class="blog-header-logo text-dark text-capitalize img-fluid" href="#">
        <img src="images/logo.png" alt="">
      </a>

    </div>
    <div class="col-md-8">
      <nav class="navbar0 navbar0-lig0ht">
        <form class="form-inline0">
          <div class="row mb-4">
            <div class="col-md-10">
              <input class="form-control mr-sm-2" id="searchQuery" v-model="searchQuery" placeholder="Search News" aria-label="Search">
            </div>
            <div class="col-md-1">
              <button class="btn btn-outline-primary  my-2 my-sm-0" type="submit">Search </button>
            </div>
          </div>
        </form>
      </nav>
    </div>
    <div class="col-md-2">
      <!-- <p>
        Time:
        <span id="hour">...</span> :
        <span id="minutes">...</span> :
        <span id="seconds">...</span>
        </span>


      </p>

      <p>
        <span id="day">...</span> -
        <span id="month">...</span> -
        <span id="year">...</span>
        </span>

      </p> -->
    </div>


  </div>




  <!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>Blog Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="css/reset.css"> -->
</head>

<body>






  <section id="app">


      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="#">Fixed navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>

      <header class="blog-header fixed-top">
          <div class="row flex-nowrap justify-content-start  bg-light ">
            <div class="col-2 pt-1">
              <a class="text-muted" href="#">
                <a class="blog-header-logo text-dark text-capitalize img-fluid" href="#">
                  <img src="images/logo.png" alt="">
                </a>
              </a>
            </div>
            <div class="col-8 text-center">
              <a class="blog-header-logo text-dark text-capitalize " href="#">
                <nav class="navbar navbar-light">
                  <form class="form-inline0">
                    <div class="row mb-4">
                      <div class="col-md-11">
                        <input class="form-control mr-sm-2" id="searchQuery" v-model="searchQuery" placeholder="Search News" aria-label="Search">
                      </div>
                      <div class="col-md-1">
                        <button class="btn btn-outline-primary  my-2 my-sm-0 d-inline" type="submit">Search </button>
                      </div>
                    </div>
                  </form>
                </nav>
              </a>
            </div>
  
            <div class="col-md-2"></div>
            <!-- <div class="col-4 d-flex justify-content-end align-items-center"> -->
            <!-- <a class="text-muted" href="#"> -->
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg> -->
            <!-- </a> -->
            <!-- <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a> -->
            <!-- </div> -->
          </div>
        </header>
  


    <div class="container-fluid">
   




      <div class="row">
        <div class="col-md-3 ">
          <form action="">

            <div class="row fixed-sidebar">


              <div class="row mt-5">

                <news-site-list></news-site-list>
              </div>


              <form>
                <div class="filter-box">
                  <div class="form-control  ">
                    <div class="form-group form-check col-md-12">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Kantipur </label>
                    </div>
                    <div class="form-group form-check col-md-12">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Kantipur </label>
                    </div>
                    <div class="form-group form-check col-md-12">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Kantipur </label>
                    </div>
                    <div class="form-group form-check col-md-12">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Kantipur </label>
                    </div>
                    <div class="form-group form-check col-md-12">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Kantipur </label>
                    </div>
                    <div class="form-group form-check col-md-12">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Kantipur </label>
                    </div>
                    <div class="form-group form-check col-md-12">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Kantipur </label>
                    </div>
                    <div class="form-group form-check col-md-12">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Kantipur </label>
                    </div>
                    <div class="form-group form-check col-md-12">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Kantipur </label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </form>
        </div>



        <div class="col-md-9 news-column">
          <div class="row white-card5 news-list">
            <div class="col-md-8">
              <div class="row">
                <main-news-list v-bind:search-query="searchQuery">
                </main-news-list>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <script type="text/x-template" id="main-news-list">
    <div>
    <div v-for="(newsSet,index) in newsSetList">
        <div class="md-col-12">
            <h3 class="news-site-title">{{newsSet.site}}</h3>
            <hr>
        </div>
        <div v-for="(news,newsIndex) in newsSet.news" v-show="newsIndex < 10 && (news.text.toLocaleLowerCase().indexOf(searchQuery.toLocaleLowerCase()) > -1 || searchQuery === '' || searchQuery === null || searchQuery.length === 0)" class="md-col-12 news-list">
            <div class="media">
                <img class="mr-3" src="images/unnamed.jpg" alt="Generic placeholder image" style="width: 80px;"/>
                <div class="media-body">
                  <a :href="newsSet.site+news.link" target="_blank">
                  <h4 class="mt-0">{{ news.text }}</h4>
                  </a>
                  <p>
                    {{news.link}}
                  </p>
        
                    <p><small>5 minutes ago</small></p>
              </div>
              
            </div>

    </div>
  </div>
    </div>
  </script>

  <script type="text/x-template" id="news-site-list">
    <div>
      <ul class="list-group">
        <li class="list-group-item" style="background: #f1f1f1;font-weight:600;">
          <a href="">All Sites</a>
        </li>
        <li  v-for="(site,index) in newsSiteList" class="list-group-item">
          <a href="">{{ site }}</a>
        </li>
      </ul>
    </div>
  </script>


</body>


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/vue.js"></script>
<script src="src/js/site.js"></script>
<script src="src/js/news.js"></script>
<script src="src/js/app.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
<!-- <script>
    Holder.addTheme('thumb', {
      bg: '#55595c',
      fg: '#eceeef',
      text: 'Thumbnail'
    });
  </script> -->



</html>




  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="js/bootstrap.min.js"></script>
  <script>
    Holder.addTheme('thumb', {
      bg: '#55595c',
      fg: '#eceeef',
      text: 'Thumbnail'
    });
  </script>
</body>

</html>